<ng-include src="'navbar.html'"></ng-include>

<p>
	<a class="btn btn-primary" ng-click="navigateAddForm()">Lisa uus</a>
</p>

<table class="table table-condensed">
	<thead>
	<tr>
		<th>Eesnimi</th>
		<th>Perenimi</th>
		<th>S&uuml;nniaeg</th>
		<th>Viimati muudetud</th>
		<th></th>
	</tr>
	<tr ng-repeat="customer in Customers">
		<td ng-bind="customer.firstName"></td>
		<td ng-bind="customer.lastName"></td>
		<td ng-bind="formatDate(customer.birthDate)"></td>
		<td ng-bind="formatDate(customer.updated)"></td>
		<td>
			<a ng-click="navigateView(customer)" class="btn btn-small">Detail</a>
		</td>
	</tr>
	</thead>
</table>
