<ng-include src="'navbar.html'"></ng-include>

<form class="form-horizontal">
	<a ng-show="clipboardAddress" ng-click="copyAddress(address, clipboardAddress)" type="submit" class="btn btn-primary">Paste Clipboard</a>

	<fieldset>
		<legend>Aadress</legend>
		<div ng-class="getFormFieldClass('address', address, errorMessages)">
			<label class="control-label" for="address">Aadress</label>

			<div class="controls">
				<input type="text" id="address" name="address" ng-model="address.address">
				<span class="help-inline" ng-show="errorMessages.address" ng-bind="errorMessages.address"></span>
			</div>
		</div>
		<div ng-class="getFormFieldClass('house', address, errorMessages)">
			<label class="control-label" for="house">Maja</label>

			<div class="controls">
				<input type="text" id="house" name="house" ng-model="address.house">
				<span class="help-inline" ng-show="errorMessages.house" ng-bind="errorMessages.house"></span>
			</div>
		</div>
		<div ng-class="getFormFieldClass('townCounty', address, errorMessages)">
			<label class="control-label" for="townCounty">Linn</label>

			<div class="controls">
				<input type="text" id="townCounty" name="townCounty" ng-model="address.townCounty">
				<span class="help-inline" ng-show="errorMessages.townCounty" ng-bind="errorMessages.townCounty"></span>
			</div>
		</div>

		<div ng-class="getFormFieldClass('zip', address, errorMessages)">
			<label class="control-label" for="zip">Postiindeks</label>

			<div class="controls">
				<input type="text" id="zip" name="zip" ng-model="address.zip">
				<span class="help-inline" ng-show="errorMessages.zip" ng-bind="errorMessages.zip"></span>
			</div>
		</div>

		<div ng-class="getFormFieldClass('county', address, errorMessages)">
			<label class="control-label" for="county">Maakond</label>

			<div class="controls">
				<input type="text" id="county" name="county" ng-model="address.county">
				<span class="help-inline" ng-show="errorMessages.county" ng-bind="errorMessages.county"></span>
			</div>
		</div>

	</fieldset>

	<div class="form-actions">
		<a ng-click="save(address)" type="submit" class="btn btn-primary">Salvesta</a>
		<a ng-click="navigateCancel()" class="btn">Katkesta</a>
	</div>
</form>