<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="nav-collapse collapse">
				<p class="navbar-text pull-right">
					<span ng-bind="User.firstName + ' ' + User.lastName"></span><a ng-click="logout()" class="btn">Logi
					v&auml;lja</a>
				</p>
				<ul class="nav">
					<li><a href="#/customer">Kliendid</a></li>
					<li><a href="#/clipboard" ng-show="clipboardAddress">Clipboard</a></li>
				</ul>

				<div class="controls">
					<div class="input-append">
						<input type="search" class="span3" placeholder="Search" name="search" id="search"
							   ng-model="search.term" ui-keypress="{'enter':'doSearch(search)'}"/>
							<span class="add-on">
                        		<i class="icon-search" ng-click="doSearch(search)"></i>
                    		</span>

					</div>
				</div>
				<div class="navbar-text">
					<div style="padding-left: 10px"></div>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</div>